
<h1 mat-dialog-title>ABM Usuario</h1>

<div mat-dialog-content class="p-3">

  <form [formGroup]="usuarioForm">

    <div class="row">

      <div class="col-12 mb-1">

        <mat-form-field class="w-100">

          <mat-label>Email</mat-label>

          <input
            title="email"
            [formControl]="emailControl"
            matInput
            type="email">

          <mat-error *ngFor="let error of emailControl.errors | keyvalue">
              {{ error | controlErrorMessages:'email' }}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-12 mb-1">
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input
            title="password"
           [formControl]="passwordControl"
            matInput
            type="text">

            <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
              {{ error | controlErrorMessages: 'texto' }}
            </mat-error>
        </mat-form-field>

      </div>
      <div class="col-10 mb-1">
        <mat-form-field>
          <mat-label>Seleccione el tipo de Rol</mat-label>
          <mat-select [formControl]="selectedRoleControl">
            <mat-option *ngFor="let rol of tipoRole" [value]="rol" (click)="seleccionarRol(rol)">
              {{rol}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>

    </div>

  </form>

</div>

<div mat-dialog-actions class="justify-content-end">

  <button mat-button mat-dialog-close> Cancelar </button>
  <button mat-button (click)="guardar()" [disabled]="usuarioForm.invalid"> Guardar </button>

</div>

