<h1 class="alert alert-success text-center">Lautaro: </h1>
<h3>Es el último trabajo, que te toca corregir!</h3>
<hr>
<p>Muchas gracias por las correcciones y sugerencias, que me has aportado.</p>
<p>Si no nos volvemos a encontrar exitos! te paso mis datos por cualquier cosa arielbernardo@hotmail.com | 3704299434</p>
<br>
<h3>Detalles de esta entrega.</h3>
<ul>
  <li> Hice una landing</li>
  <li> En la Landing utilizo otro tema , me costo implementando.</li>
  <li> Un Breadcrumbs con un servicio, y los valores los paso como un objeto por las rutas.</li>
  <li> Esta el test muy basico.</li>
</ul>

