<h2>Listado de Usuarios</h2>
<hr>

<div class="filter-container">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="buscar ..." #input>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="crearUsuario()">Agregar usuario</button>
</div>
<div *ngIf="isLoading" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
  <!-- matricula Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef appFontSize> EMAIL </th>
    <td mat-cell *matCellDef="let usuarios"> {{usuarios.email}} </td>
  </ng-container>
  <!-- Nombre Completo Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef appFontSize> ROL </th>
    <td mat-cell *matCellDef="let usuarios"> {{  usuarios.role }} </td>
  </ng-container>
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef appFontSize> AVATAR </th>
    <td mat-cell *matCellDef="let usuarios">
      <ng-container *ngIf="usuarios.role === 'Admin'">
        <mat-icon>manage_accounts</mat-icon>
      </ng-container>
      <ng-container *ngIf="usuarios.role === 'Profesor'">
        <mat-icon>person_4</mat-icon>
      </ng-container>
      <ng-container *ngIf="usuarios.role === 'Estudiante'">
        <mat-icon>school</mat-icon>
      </ng-container>
    </td>
  </ng-container>


  <!-- acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appFontSize> Acciones </th>
    <td mat-cell *matCellDef="let usuarios">
    <!--   <button mat-button color="basic" (click)="detalleAlumno(usuarios)">
        <mat-icon>visibility</mat-icon>
        Ver
      </button> -->
      <button mat-button color="primary" (click)="editarUsuario(usuarios)">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      <button mat-button color="warn" (click)="eliminarUsuario(usuarios)">
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

