/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  align-items: center;
}
img{
  height: 50px;
}
