<h2>Listado de Cursos</h2>
<hr>

<div class="filter-container">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="buscar ..." #input>
  </mat-form-field>
  <button mat-flat-button color="primary" *ngIf="authUserRole?.role=='Admin'" (click)="crearCurso()">Agregar Curso</button>
</div>

<div *ngIf="isLoading" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre. </th>
    <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
  </ng-container>

  <!-- Tipo Column -->
  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let curso">
      <img src="{{curso.foto}}" alt="Imagen del curso de {{curso.nombre}}"
      class="img-thumbnail"
      onerror="this.src='../assets/img/cursos/default.png'">
    </td>
  </ng-container>

  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appFontSize> Acciones </th>
    <td mat-cell *matCellDef="let curso">
      <button mat-button color="basic" (click)="detalleCurso(curso)">
        <mat-icon>visibility</mat-icon>
        Ver
      </button>
      <button mat-button color="primary" [disabled]="authUserRole?.role!='Admin'" (click)="editarCurso(curso)">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      <button mat-button color="warn" [disabled]="authUserRole?.role!='Admin'" (click)="eliminarCurso(curso)" >
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
